.Category {
    width: 270px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    height:200px;
    font-family:western;
    background-color: rgb(100, 200, 200);
    border-radius: 5px;
    color:white;
}

.Category:hover,
.Category:active {
    background-color: #C0DDF5;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}